{% extends 'main/layout.html' %} 
{% load static %} 

{% block main %}
<div class="timer_box">
  <span>세션시작</span>
  <div class="total_time">00:00:00</div>
  <div class="timer_form_btn">
    <div class="timer_btn timer_start_btn">
      <i class="fa-solid fa-play"></i>
    </div>
    <div class="timer_btn timer_reset_btn">
      <i class="fa-solid fa-pause"></i>
    </div>
    <div class="timer_btn timer_refresh_btn">
      <i class="fa-solid fa-arrow-rotate-right"></i>
    </div>
  </div>
</div>

<ul class="session_record_container">
  <li class="last_result_btn">
  <button class="session_result_btn ">결과보기</button>
  </li>
</ul>

<div class="session_modal">
  <div 
    class="session_modal_content"
  >
    <span class="session_modal_close">✖</span>
    <ul class="record_modal_list"></ul>
    <button
      type="button"
      class="record_modal_save_btn"
      user-id="{{ request.user.pk }}"
    >저장하기</button>
    <a 
      href="{% url 'exercise:exercise' %}" 
      class="record_modal_start_btn"
    >
    세션 선택 화면으로
    </a>
  </div>
</div>
{% endblock %} 

{% block script %}
<script src="{% static 'exercise/javascript/recordSession.js' %}"></script>
{% endblock %}
