.workout_main_container {
  padding-top: 30px;
  margin-left: 20px;
}

.workout_top_container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.workout_menu_container {
  padding-left: 20px;
}

.top_container {
  width: 100%;
  margin-left: 50px;
  font-size: 20px;
}

.head_block {
  width: 5%;
  border-bottom: solid 3px var(--lightBlue);
  padding: 5px 20px;
  margin-left: 10px;
  font-size: 20px;
  color: var(--black);
}

/* 버튼 */
.menus {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu_list button {
  display: flex;
  flex-wrap: nowrap;
  font-size: 15px;
  border: none;
  padding: 20px;
  margin: 5px 20px 5px 0;
  text-align: center;
  line-height: 8px;
  border-radius: 5px;
  transition: all 0.2s;
  color: var(--white);
  background-color: var(--lightpurple);
  cursor: pointer;
}

.menu_list button:hover {
  color: var(--white);
  background-color: var(--purple);
}

/* 메인 페이지 */
.workout_title_main {
  margin-left: 20px;
  font-size: 25px;
  padding: 4px;
}

.recommended_workout {
  font-size: 15px;
  margin-left: 25px;
}

/* 운동 박스 */

.workout_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.workout_box {
  width: 780px;
  height: 4%;
  clear: both;
  padding: 5px;
}

.workout_leftside {
  width: 20%;
  float: left;
}

.workout_title {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.workout_bodypart {
  width: 100%;
  text-align: center;
  /* justify-content: center; */
}

.workout_rightside {
  width: 80%;
  display: flex;
  float: left;
}

.workout_description {
  width: 100%;
}

.workout_description span {
  width: 100%;
}

/* 운동시작 */
.session_result_box {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
  list-style: none;
}

/* 세션 추가 왼쪽 */
.session_result_box {
  margin-top: 50px;
  list-style: none;
}

.session_result_list {
  /* background-color: rgba(123, 123, 223, 0.719); */
  /* height: 50vh; */
  /* min-height: 20vh; */
  border-radius: 5px;
}

.session_result_list li {
  padding: 5px 10px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 2px solid rgba(123, 123, 223, 0.719);
  /* border-width: 90%; */
  color: rgba(123, 123, 223, 0.719);
}

.session_name {
  color: rgba(123, 123, 223, 0.719);
  padding: 5px;
}

.session_body_part {
  padding: 5px;
  color: rgba(123, 123, 223, 0.719);
}

.session_cnt {
  color: rgba(123, 123, 223, 0.719);
  padding: 5px;
}

.session_cnt_box {
  color: rgba(123, 123, 223, 0.719);
  padding: 5px;
}

.session_set {
  color: rgba(123, 123, 223, 0.719);
  padding: 5px;
}

.each_session_time {
  color: rgba(123, 123, 223, 0.719);
  padding: 5px;
}

.store_session_btn {
  padding: 5px;
  margin-left: 16px;
  border-radius: 5px;
  border: none;
  background-color: var(--lightBlue);
  box-shadow: 2px 2px rgba(123, 123, 223, 0.719);
  cursor: pointer;
  justify-self: flex-end;
}

/* 세션 오른쪽 */
.session_store_list {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding-bottom: 25px;
  border-radius: 5px;
  background-color: rgba(175, 131, 211, 0.783);
  font-size: 20px;
}

.session_store_btn {
  margin-top: 20px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: rgb(175, 131, 211);
  box-shadow: 2px 2px var(--purple);
  cursor: pointer;
}

.session_start_btn {
  border: none;
  box-shadow: 2px 2px var(--purple);
  color: rgb(175, 131, 211);
  font-size: 14px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.session_store_item {
  padding-top: 30px;
  color: white;
}

.session_store_item input {
  outline: none;
  border: none;
  border-radius: 3px;
}

.session_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.session_modal_content span {
  color: #b796f4e3;
}

.session_modal_content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #888;
  width: 80%;
}

.session_modal_close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.session_modal_close:hover,
.session_modal_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.session_modal_content ul {
  font-weight: bold;
  font-size: 20px;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

/* 세션 모달창 */

.session_modal_list_item {
  box-shadow: 2px 2px 7px rgba(163, 134, 218, 0.89);
  margin-bottom: 20px;
  width: 14vw;
  align-items: center;
  border: solid 1px #b796f4e3;
  border-radius: 5px;
}

.session_modal_list_item div {
  padding: 3px 16px;
}

.session_modal_content a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background: #9881ff8e;
  font-weight: 600;
  line-height: 40px;
  color: #fff;
  border: 1px solid #9881ff8e;
  border-radius: 4px;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.247);
}

/* 타이머 모달창 */

.record_modal_list_item:first-child {
  margin-top: 500px;
}

.test_div {
  text-align: center;
}
.record_modal_list_item {
  box-shadow: 2px 2px 7px rgba(163, 134, 218, 0.89);
  margin-top: 20px;
  width: 14vw;
  align-items: center;
  border: solid 1px #b796f4e3;
  border-radius: 5px;
}

.record_modal_save_btn {
  font-size: 16px;
  margin: 30px auto;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  background: #5940ca8e;
  font-weight: 600;
  line-height: 40px;
  color: #fff;
  border: 1px solid #9881ff8e;
  border-radius: 4px;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.247);
  cursor: pointer;
}
